

    <div class="sidebar">
      <div class="sidebar-wrapper">
        
        <div class="logo">
          <a target="_blank">

          </a>
          <a
              class="simple-text logo-normal">
                     Dashboard
          </a>
        </div>

        <ul class="nav">
        {% if request.user.is_authenticated %}
          <li class="{% if 'home' in segment %} active {% endif %} ">
            <a href="/">
              <!--<i class="tim-icons icon-chart-pie-36"></i>-->
              <i class="tim-icons icon-map-big"></i>
              <p>Home</p>
            </a>
          </li>
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href="{% url 'page-user' %}">
              <i class="tim-icons icon-single-02"></i>
              <p>User Profile</p>
            </a>
          </li>
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="{% url 'page-user' %}">Profile</a>#}
{#            </li>#}
          <!---<li class="{#{% if 'tables' in segment %}#} active {#{% endif %}#}">
            <a href="/ui-tables.html">
              <i class="tim-icons icon-puzzle-10"></i>
              <p>Table List</p>
            </a>
          </li>----->
          <li>
            <a href="{% url 'logout' %}" >
              <i class="tim-icons icon-user-run"></i>
              <p>Logout</p>
            </a>
          </li>
          {% else %}
          <li class="active">
            <a target="_blank" 
               href="https://www.creative-tim.com/product/black-dashboard-pro-django">
              <i class="tim-icons icon-spaceship"></i>
              <p>PRO Version</p>
            </a>
          </li>   
          {% endif %}
                    
        </ul>
        
      </div>
    </div>
