{% extends "base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">

      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h5 class="card-category">Total</h5>
                <h2 class="card-title">Pelanggan</h2>
              </div>
              <div class="col-sm-6">
                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                  <label class="btn btn-sm btn-primary btn-simple active" id="0">
                    <input type="radio" name="options" checked>
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Status</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-single-02"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="1">
                    <input type="radio" class="d-none d-sm-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Jenis</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-gift-2"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="2">
                    <input type="radio" class="d-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Kode Golongan</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-tap-02"></i>
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <!--<canvas id="lineChartExample"></canvas>-->
              <canvas id="chartBig1" ></canvas>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Total Berdasarkan Status</h5>
            <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> Meter Induk</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartLinePurple"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Total Berdasarkan Tipe </h5>
            <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i> Pompa</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="CountryChart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Total Berdasarkan Merek</h5>
            <h3 class="card-title"><i class="tim-icons icon-send text-success"></i> Valve</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartLineGreen"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

 <div class="row">

      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h5 class="card-category">Total</h5>
                <h2 class="card-title">Panjang Pipa</h2>
              </div>
              <div class="col-sm-6">
                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                  <label class="btn btn-sm btn-primary btn-simple active" id="3">
                    <input type="radio" name="options" checked>
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Material</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-single-02"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="4">
                    <input type="radio" class="d-none d-sm-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Kelas</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-gift-2"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="5">
                    <input type="radio" class="d-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Status</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-tap-02"></i>
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <!--<canvas id="lineChartExample"></canvas>--->
              <canvas id="chartBig2" ></canvas>
            </div>
          </div>
        </div>
      </div>
 </div>





{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script type = "text/javascript" src="demo.js"></script>

  <script>

    var data1 =  ({{ statuspel|safe }}) //.replace(/&quot;/g, ' " ');
    var data2 =  ({{ typepel|safe }})
    var data3 =  ({{ golpel|safe }})
    var meter =  ({{ meter|safe }})
    var pump =  ({{ pump|safe }})
    var avalve =  ({{ avalve|safe }})
    var data7 =  ({{ materialpipa|safe }})
    var data8 =  ({{ kelaspipa|safe }})
    var data9 =  ({{ statuspipa|safe }})

      console.log(data7[1].material_pipa);
      console.log(data7[1].total);
      console.log(data7.length);

      var chart_labels=[];
      var chart_data=[]
      for (let i=0; i < data1.length; i++){
         chart_labels[i] = data1[i].status ;
         chart_data[i] = data1[i].total;
      }
      var chart_label1=[];
      var chart_data1=[]
      for (let i=0; i < data2.length; i++){
         chart_label1[i] = data2[i].premise_type ;
         chart_data1[i] = data2[i].total;
      }

      var chart_label2=[];
      var chart_data2=[]
      for (let i=0; i < data3.length; i++){
         chart_label2[i] = data3[i].kode_gol ;
         chart_data2[i] = data3[i].total;
      }

      var meter_label=[];
      var meter_data=[]
      for (let i=0; i < meter.length; i++){
         meter_label[i] = meter[i].status ;
         meter_data[i] = meter[i].total;
      }

      var pump_label=[];
      var pump_data=[]
      for (let i=0; i < pump.length; i++){
         pump_label[i] = pump[i].tipe ;
         pump_data[i] = pump[i].total;
      }

      var avalve_label=[];
      var avalve_data=[]
      for (let i=0; i < avalve.length; i++){
         avalve_label[i] = avalve[i].merek ;
         avalve_data[i] = avalve[i].total;
      }


      var chart_label3=[];
      var chart_data3=[]
      for (let i=0; i < data7.length; i++){
         chart_label3[i] = data7[i].material_pipa ;
         chart_data3[i] = data7[i].total;
      }

      var chart_label4=[];
      var chart_data4=[]
      for (let i=0; i < data8.length; i++){
         chart_label4[i] = data8[i].kelas_pipa ;
         chart_data4[i] = data8[i].total;
      }

      var chart_label5=[];
      var chart_data5=[]
      for (let i=0; i < data9.length; i++){
         chart_label5[i] = data9[i].status ;
         chart_data5[i] = data9[i].total;
      }




      console.log(meter_label);
      console.log(meter_data);



    $(document).ready(function() {



      demo.initDashboardPageCharts();
      //demo.initDocChart();

    });
  </script>

{% endblock javascripts %}